<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", href="css/main.css")

    body
        section.sc-1
            .cytoforte cytforte
            .container
                .row
                    .logo
                        img(src="images/logo.svg", alt="", srcset="images/logo.svg")
                .row
                    .content-block
                        .title
                            h1 На страже <br> женского здоровья
                        .subtitle
                            .left
                                span CYTOFORTE
                            .right
                                p Избавляет от симптомов цистита гораздо быстрее привычных методов , боль и дизкомфорт останутся в прошлом
                        .button
                            span ЗАКАЗАТЬ СЕЙЧАС
                    .product-image
                        img(src="images/product.png", alt="", srcset="images/product.png")
                        .ellipse
                        .lives
        .sc_decor
        section.sc-2
            .container
                .row
                    .image__r-1
                        img(src="images/image_woman.jpeg", alt="")
                    .text-block__r-1
                        h2 Снова завязывает <br> в узел ? 
                        p По статистике ВОЗ каждая четвертая женщина переносит заболевания мочевыводящих путей минимум 6 раз за жизнь, и 65% из них в хронической форме.
                .row
                    .quote
                        p Дискомфорт, жжение и режущая боль во время мочеиспускания, а также частые позывы и неприятный запах - все это симптомы цистита, который возникает по нескольким причинам:
                .row
                    .text-block__r-2
                        ul
                            li.icon-1
                                h3 Последствия после секса
                                p Секс провоцирует развитие посткоитального цистита. Микробы из половых органов легко заносятся в мочеиспускательный канал, а механическое травмирование слизистой при бурном половом акте усугубляет ситуацию.
                            li.icon-2
                                h3 Особенности физиологии
                                p Близость уретры к влагалищу и заднему проходу позволяют инфекции легко попадать в мочевой пузырь. А короткая и широкая уретра обеспечивает быстрое распространение воспаления по всему мочевому каналу. 
                            li.icon-3
                                h3 Последствия заболеваний
                                p Опущение органов малого таза, нарушение вагинальной микрофлоры и гормональный дисбаланс приводит к атрофии слизистой оболочки мочевого пузыря, что также создает условия для размножения палочки - возбудителя цистита <b>E.coli</b>. 
                    .image__r-2
                        img(src="images/image_sex.jpeg", alt="", srcset="")