<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/css/uikit.min.css")
        link(rel="stylesheet", href="css/main.css")

        script(src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit.min.js")
        //- script(src="js/app.min.js")

    body
        section.sc-1
            .cytoforte(uk-parallax="x: 0, 500") 
                span cytforte
                span cytforte
                span cytforte
                span cytforte
            .bubble( uk-parallax="x: 0, 400; y: 0, 400; scale: 1, 2")
                .bubble_1
                .bubble_2
                .bubble_3
                .bubble_4
            .container
                .row
                    .logo
                        img(src="images/logo.svg", alt="", srcset="images/logo.svg")
                .row
                    .content-block
                        .title
                            h1 На страже <br> женского здоровья
                        .subtitle
                            .left
                                span CYTOFORTE
                            .right
                                p Избавляет от симптомов цистита гораздо быстрее привычных методов , боль и дизкомфорт останутся в прошлом
                        a.button(href="#form" uk-scroll)
                            span ЗАКАЗАТЬ СЕЙЧАС
                    .product-image
                        img(src="images/product.png", alt="", srcset="images/product.png")
                        .ellipse
                        .leaf( uk-parallax="x: 0, -400; y: 0, -400; scale: 1, 2; media: (min-width:720px)")
                    .subtitle__mobile
                        .left
                            span CYTOFORTE
                        .right
                            p Избавляет от симптомов цистита гораздо быстрее привычных методов , боль и дизкомфорт останутся в прошлом
                    a.button.__mobile(href="#form" uk-scroll)
                        span ЗАКАЗАТЬ СЕЙЧАС
        .sc_decor
        section.sc-2
            .container
                .row
                    .image__r-1
                        img(src="images/image_woman.jpeg", alt="", uk-parallax="y: 100, -100; media: (min-width:720px)")
                    .text-block__r-1(uk-parallax="y: 50, -50; media: (min-width:720px)")
                        h2 Снова завязывает <br> в узел ? 
                        p По статистике ВОЗ каждая четвертая женщина переносит заболевания мочевыводящих путей минимум 6 раз за жизнь, и 65% из них в хронической форме.
                    .image__r-1__mobile
                        img(src="images/image_woman.jpeg", alt="", uk-parallax="y: 100, -100; media: (min-width:720px)")
                .row
                    .quote
                        p Дискомфорт, жжение и режущая боль во время мочеиспускания, а также частые позывы и неприятный запах - все это симптомы цистита, который возникает по нескольким причинам:
                .row
                    .text-block__r-2(uk-parallax="y: 50, -50; media: (min-width:720px)")
                        ul
                            li.icon-1
                                h3 Последствия после секса
                                p Секс провоцирует развитие посткоитального цистита. Микробы из половых органов легко заносятся в мочеиспускательный канал, а механическое травмирование слизистой при бурном половом акте усугубляет ситуацию.
                            li.icon-2
                                h3 Особенности физиологии
                                p Близость уретры к влагалищу и заднему проходу позволяют инфекции легко попадать в мочевой пузырь. А короткая и широкая уретра обеспечивает быстрое распространение воспаления по всему мочевому каналу. 
                            li.icon-3
                                h3 Последствия заболеваний
                                p Опущение органов малого таза, нарушение вагинальной микрофлоры и гормональный дисбаланс приводит к атрофии слизистой оболочки мочевого пузыря, что также создает условия для размножения палочки - возбудителя цистита <b>E.coli</b>. 
                    .image__r-2
                        img(src="images/image_sex.jpeg", alt="", srcset="", uk-parallax="y: 100, -100; media: (min-width:720px)")
        .sc_decor
        section.sc-3
            .cytoforte(uk-parallax="x: 0, 500; media: (min-width:720px)") 
                span cytforte
                span cytforte
                span cytforte
                span cytforte
            .bubble( uk-parallax="x: 0, 400; y: 0, 400; scale: 1, 2; media: (min-width:720px)")
                .bubble_1
                .bubble_2
                .bubble_3
                .bubble_4
            .container
                .row
                    .title
                        h2 Удовольствие без последствий
                .row
                    .product-image-container
                        .product-image
                            img(src="images/product.png", alt="", srcset="images/product.png; media: (min-width:720px)")                      
                        .berry( uk-parallax="scale: 0, 1, 1, 1; media: (min-width:720px)")
                        .leaf_back( uk-parallax="scale: 0, 1, 1, 1, 1; media: (min-width:720px)")
                        .leaf_front( uk-parallax="scale: 0, 1, 1, 1; media: (min-width:720px)")
                    .product-price
                        .card
                            .title
                                h3
                                    |Успей купить Cyto&nbsp;Forte
                                    br
                                    span со скидкой 50% 
                            .price
                                .old 
                                    |Старая цена
                                    span 3790 руб. 
                                .new 1890 руб.
                            a.button(href="#form" uk-scroll)
                                span ЗАКАЗАТЬ СЕЙЧАС  
        section.sc-4
            .container
                .row
                    .title
                        h2 На страже женского здоровья
                    .subtitle
                        p. 
                            Не омрачайте жизнь неприятностями. Всего несколько простых правил помогут избежать заболевания: 
                .row
                    .container-item
                        .item(uk-scrollspy="cls: uk-animation-slide-bottom; delay: 300; repeat: true; media: (min-width:720px)")   
                            .image
                                img(src="images/item_img_1.png", alt="", srcset="")
                            .text
                                p.
                                    Примите 2 капсулы Cyto Forte перед половым актом или сразу после него
                        //**//**//
                        .item(uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400; repeat: true; media: (min-width:720px)")   
                            .image
                                img(src="images/item_img_2.png", alt="", srcset="")
                            .text
                                p.
                                    Опорожняйте мочевой пузырь сразу после секса            
                        //**//**//
                        .item(uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500; repeat: true; media: (min-width:720px)")   
                            .image
                                img(src="images/item_img_3.png", alt="", srcset="")
                            .text
                                p.
                                    Соблюдайте тщательную гигиену во время полового контакта
                        //**//**//
                        .item(uk-scrollspy="cls: uk-animation-slide-bottom; delay: 300; repeat: true; media: (min-width:720px)")   
                            .image
                                img(src="images/item_img_4.png", alt="", srcset="")
                            .text
                                p.
                                    Меняйте презерватив если совмещаете несколько видов проникновений 
                                    ( оральное, вагинальное, анальное )
                        //**//**//
                        .item(uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400; repeat: true; media: (min-width:720px)")   
                            .image
                                img(src="images/item_img_5.png", alt="", srcset="")
                            .text
                                p.
                                    Используйте дополнительную смазку при чрезмерной сухости влагалища
                        //**//**//
                        .item(uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500; repeat: true; media: (min-width:720px)")   
                            .image
                                img(src="images/item_img_6.png", alt="", srcset="")
                            .text
                                p.
                                    Контролируйте силу и резкость интимных проникновений
        .sc_decor
        section.sc-5
            .bubble( uk-parallax="x: 0, 400; y: 0, 400; scale: 1, 2; media: (min-width:720px)")
                .bubble_1
                .bubble_2
                .bubble_3
                .bubble_4
            .container
                .row
                    .title
                        h2 Оставь боль <br>и дискомфорт в прошлом
                    .subtitle
                        p Cytoforte избавит от симптомов гораздо быстрее привычных методов: 
                .row
                    .table-container
                        .column-number
                            .row 
                            .row 15
                            .row 14
                            .row 13
                            .row 12
                            .row 11
                            .row 10
                            .row 9
                            .row 8
                            .row 7
                            .row 6
                            .row 5
                            .row 4
                            .row 3
                            .row 2
                            .row 1
                            .row
                        mixin table-column(...cols)
                            div&attributes(attributes)
                                each col in cols
                                    div(class!=col)
                                        mixin table-cell(...nums)
                                            each num in nums
                                                div&attributes(attributes)
                                                    div(data=num uk-scrollspy="cls: uk-animation-scale-down; delay: 500; repeat: true; media: (min-width:720px)")
                                        +table-cell( 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17)(class="table-cell")
                        +table-column( 1, 2, 3, 4)(class="table-columns")
                        .type
                            .cell 
                                b Cytoforte
                            .cell Прием антибиотиков
                            .cell Спринцевание 
                            .cell Прогревание
                        .label-1
                            span Кол-во дней
                        .label-2
                            span Препорат
                .row
                    .text
                        p Всего 1 капсула cytoforte уже на второй день полностью избавит от симптомов. Снимает боль ,оказывает бактерицидное действие и подавляет инфекцию. 
                        p 
                            b Помогает при  посткоитальном цистите.
        section.sc-6
            .container
                .title__mobile
                    h2 0% антибиотиков 100% органических компонентов 
                    p Препарат не оказывает нагрузки на организм и не вызывает аллергических реакций, поэтому может продаваться без рецепта. 
                .product-image
                    .vitamine
                        img(src="images/vitamine.png", alt="", srcset="", uk-parallax="scale: 0, 1, 1, 1, 1; media: (min-width:720px)")
                    .product-img
                        img(src="images/product.png", alt="", srcset="")
                .text-block
                    .title
                        h2 0% антибиотиков 100% органических компонентов 
                        p Препарат не оказывает нагрузки на организм и не вызывает аллергических реакций, поэтому может продаваться без рецепта.                 
                    ul
                        li
                            p
                                b Экстракт клюквы: 
                                |оказывает бактерицидный эффект и разрушает клетки возбудителей  E.coli
                        li
                            p
                                b Экстракт ромашки:  
                                |способствует расслаблению мускулатуры в мочеполовом канале, что быстро снимает боль
                        li
                            p
                                b Цинк:  
                                |регенерирует поврежденные инфекцией клетки и ткани слизистой 
                        li
                            p
                                b Витамин группы  Е:
                                |предотвращает воспалительные процессы в организме и восстанавливает  работу мочеполовой системы
                        li
                            p
                                b Витамин группы B:
                                |продуцирует  антитела, которые подавляют патогенные микроорганизмы в организме      

        //end sc-6
        .sc_decor
        section.sc-7
            .container
                .row
                    .doc-info-block(uk-parallax="y: 100, -100; media: (min-width:720px)")
                        .doc-image
                            img(src="images/doc_image.jpeg", alt="", srcset="")
                        .doc-name
                            p Эрнест Гулий
                        .doc-info
                            p Эксперт в области урологии, опыт работы с пациентами более 17 лет.
                    .text-block(uk-parallax="y: 50, -50; media: (min-width:720px)")
                        h2 Безопасный аналог антибиотиков
                        p.
                            Раньше стандартом лечения цистита была антибиотикотерапия. Но для предотвращения рецидивов и полного излечения этого мало  бактерии привыкают к антибиотикам, возникает резистентность. Кроме того, антибиотик не снимает болевой симптом и мышечный спазм при затрудненном мочеиспускании.
                        p.
                            Действие Cyto Forte направлено на быстрое снятие симптомов путем устранения первопричины. 
                        p.
                            Компоненты добавки блокируют ферментативную активность микроорганизмов E.col и успокаивают раздраженную слизистую.
                        p.
                            Cyto Forte подавляет жизнедеятельность бактерий и ускоряет выведение инфекции из организма. Все это  в комплексе улучшает динамику выздоровления и  защищает от рецидива.
                        .recomend-text
                            p Я рекомендую Cyto Forte для терапии и профилактики цистита.
                            .signature
        //end sc-7
        section.sc-8
            .container
                .row
                    .title(uk-parallax="y: 150, -50; media: (min-width:720px)")
                        h2 Они уже оценили эффект
                    .slider(uk-slideshow="animation: fade; min-height: 760" uk-parallax="y: 150, -150; media: (min-width:720px)")
                        .uk-slideshow-items
                            .slider-item
                                .avatar.uk-animation-slide-left
                                    img(src="images/ava_1.jpg", alt="", srcset="")
                                .user-card.uk-animation-slide-right
                                    .star-rate
                                        span
                                        span
                                        span
                                        span
                                        span
                                    .user-name
                                        h3 Ирина 36 лет
                                    .user-comment
                                        p.
                                            Со студенчества каждую зиму спала с грелкой. Ничего не помогало полностью вылечиться. 
                                            Со временем даже у мужа начались проблемы. Доктор сказал, что я  заразила. 
                                            Никакие спринцевания и антибиотики не помогали. Каждый анализ показывал наличие палочки E.coli. 
                                            И мне и мужу помог Cyto Forte - оба пропили курс. Анализы подтвердили выздоровление. 
                                            Рецидива не последовало даже спустя полгода.
                            .slider-item
                                .avatar.uk-animation-slide-left
                                    img(src="images/ava_2.jpg", alt="", srcset="")
                                .user-card.uk-animation-slide-right
                                    .star-rate
                                        span
                                        span
                                        span
                                        span
                                        span
                                    .user-name
                                        h3 Ольга 46 лет
                                    .user-comment
                                        p.
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum obcaecati ea inventore dolorum nemo quis ad non quos fugiat fugit. Distinctio ullam quae debitis, eaque architecto adipisci quia facilis et?
                        .slider-navigate_layout
                            .slider-navigate.uk-slideshow-nav
                            a.slider-next( uk-slideshow-item="next" href="#")
        section.sc-9
            .container
                .row
                    .title
                        h2 Как заказать Cytoforte ?
                .row
                    .item(uk-scrollspy="cls: uk-animation-slide-bottom; delay: 300; repeat: true; media: (min-width:720px)")   
                        .image
                            img(src="images/how_to_image_1.png", alt="")
                        .text
                            p Оставьте заявку на нашем сайте
                    .item(uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400; repeat: true; media: (min-width:720px)")   
                        .image
                            img(src="images/how_to_image_2.png", alt="")
                        .text
                            p Наш менеджер свяжется с вами 
                    .item(uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500; repeat: true; media: (min-width:720px)")   
                        .image
                            img(src="images/how_to_image_3.png", alt="")
                        .text
                            p Оплатите заказ во время получения 
        .sc_decor
        section.sc-10
            .cytoforte(uk-parallax="x: 0, 500; media: (min-width:720px)") 
                span cytforte
                span cytforte
                span cytforte
                span cytforte
            .bubble( uk-parallax="x: 400, 0; y: 400, 0; scale: 2, 1; media: (min-width:720px)")
                .bubble_1
                .bubble_2
                .bubble_3
                .bubble_4                
            .container
                .row
                    .title
                        h2 Скажи циститу прощай
                .row
                    .product-image-container
                        .product-image
                            img(src="images/woman-image.png", alt="", srcset="images/woman-image.png")                      
                        .berry( uk-parallax="scale: 0, 1, 1, 1; media: (min-width:720px)")
                        .leaf_back( uk-parallax="scale: 0, 1, 1, 1, 1; media: (min-width:720px)")
                        .leaf_front( uk-parallax="scale: 0, 1, 1; media: (min-width:720px)")
                    .card
                        .form-title
                            h3
                                |Успей купить Cyto&nbsp;Forte
                                br
                                span со скидкой 50% 
                            .price
                                .old 
                                    |Старая цена
                                    span 3790 руб. 
                                .new 1890 руб.
                            form#form
                            .form-field
                                select#country_code_selector(name="country_code")
                                    option(value="Ru") Russia
                            .form-field
                                input(type="text" name="name" placeholder="Ваше Имя")
                            .form-field
                                input(type="text"  name="phone" placeholder="Ваш телефон" )
                            .button.js_submit
                                span ЗАКАЗАТЬ СЕЙЧАС