// Fonts
$ff_futura: "Futura New";
$ff_futura_book: "Futura New Book";

$fw_bold: 700;
$fw_book: 400;

@font-face {
    font-family: 'Futura New Book';
    src: local('Futura New Book Reg'), local('FuturaNewBook-Reg'),
        url('../fonts/hinted-FuturaNewBook-Reg.woff2') format('woff2'),
        url('../fonts/hinted-FuturaNewBook-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New Book';
    src: local('Futura New Book Obl'), local('FuturaNewBook-Obl'),
        url('../fonts/hinted-FuturaNewBook-Obl.woff2') format('woff2'),
        url('../fonts/hinted-FuturaNewBook-Obl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Bold Reg'), local('FuturaNewBold-Reg'),
        url('../fonts/hinted-FuturaNewBold-Reg.woff2') format('woff2'),
        url('../fonts/hinted-FuturaNewBold-Reg.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Bold Obl'), local('FuturaNewBold-Obl'),
        url('../fonts/hinted-FuturaNewBold-Obl.woff2') format('woff2'),
        url('../fonts/hinted-FuturaNewBold-Obl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}





// Color
$dark_black: #000000;
$rose_white: #fff9f8;
$white: #ffffff;
$wild_sand: #f6f6f6;
$cinnabar: #e23c3c;
$soft-peach: #F8F1F1;
// Gardient
$gr_rose_white: linear-gradient(135deg, #E4D2D2, #FFFFFF, #FFF9F8);

// Title
h1{
    font-family: $ff_futura;
    font-weight: $fw_bold;
    font-size: 72px;
    line-height: 74px;
    color: $dark_black;    
}
h2{
    font-family: $ff_futura;
    font-weight: $fw_bold;
    font-size: 50px;
    line-height: 52px;
    color: $dark_black;
    @media screen and (max-width:720px) {
        font-size: 33px;
        line-height: 35px;
    }
}
h3{
    font-family: $ff_futura;
    font-weight: $fw_bold;
    font-size: 28px;
    line-height: 33,6px;
    color: $dark_black;
}
p{
    font-family: $ff_futura_book;
    font-weight: $fw_book;
    font-size: 18px;
    line-height: 21.6px;
    color: $dark_black;
}
// span{
//     font-family: $ff_futura_book;
// }

// Main style

body{
    font-family: $ff_futura_book;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;    
}
.container{
    width: 100%;
    max-width: 1276px;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width:1280px) {
        padding: 0 15px;
    }   
}

.button{
    max-width: 282px;
    text-decoration: none;
    display: block;
    padding: 16px 34px 16px;
    text-align: right;
    clear: both;
    color: $dark_black;
    border:2px solid $dark_black;
    border-radius: 25px;
    overflow: hidden;
    transition: .4s ease-in-out;
    cursor: pointer;
    span{
        position: relative;
        font-size: 18px;
        font-family: $ff_futura;
        font-weight: $fw_bold;
        line-height: 21.6px;
        transition: .4s ease-in-out;
        z-index: 1;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -40px;
            width: 20px;
            height: 20px;
            border-radius: 150px;
            background: $cinnabar;
            transition: .4s ease-in-out;
            z-index: -1;
        }
    }
    &:hover{
        border: 2px solid $cinnabar;
        padding-right: 58px;
        text-decoration: none;
        span{
            color: $white;
            &::before{
                content: '';
                top: -125px;
                left: -60px;
                width: 290px;
                height: 290px;
            }
        }       
    }
}

.quote{
    max-width: 885px;
    background: $rose_white;
    padding: 95px 105px;
    margin: 0 auto;
    @media screen and (max-width:1180px) {
        padding: 60px;
    }
    &::after{
        content: '';
        position: absolute;
        top: -25px;
        right: 105px;
        background-image: url(../images/quote.svg);
        width: 100px;
        height: 75px;
    }
    p{
        font-size: 32px;
        font-weight: $fw_book;
        line-height: 38.4px;
        @media screen and (max-width:1180px) {
            font-size: 18px;
            font-weight: $fw_book;
            line-height: 21.6px;
        }
    }
}
.sc_decor{
    position: relative;
    top: -30px;
    height: 1px;
    width: 100%;
    z-index: 9999;
        &::after{
            content: ' ';
            display: block;
            margin: 0 auto;
            bottom: -30px;
            width: 62px;
            height: 52px;
            margin: 0 auto;
            background-image: url(../images/section_decor.svg);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 9999;
        }
    }
.row{
    clear: both;
    width: 100%;
}

.bubble{
    position: absolute;
    opacity: 1;
    width: 100%;
    // min-width: 1920px;
    min-height: 890px;
    height: auto;
    top: -0px;
    left: -0px;
    z-index: -1;
    .bubble_1{
        width: 700px;
        height: 700px;
        position: absolute;
        top: -250px;
        left: -250px;
        background-size: contain;
        background: radial-gradient(circle, rgba(226, 60, 60, 0.8) 0%, rgba(226, 60, 60, 0.1) 25%, rgba(226, 60, 60, 0) 75%, rgba(255, 255, 255, 0) 100%);
    }
    .bubble_2{
        width: 500px;
        height: 500px;
        position: absolute;
        bottom: 0;
        left: -100px;
        background-size: contain;
        background: radial-gradient(circle, rgba(226, 60, 60, 0.8) 0%, rgba(226, 60, 60, 0.1) 35%, rgba(226, 60, 60, 0) 75%, rgba(255, 255, 255, 0) 100%);
    }
    .bubble_3{
        width: 900px;
        height: 900px;
        position: absolute;
        top: -300px;
        right: -300px;
        background-size: contain;
        background: radial-gradient(circle, rgba(226, 60, 60, 0.8) 0%, rgba(226, 60, 60, 0.1) 25%, rgba(226, 60, 60, 0) 75%, rgba(255, 255, 255, 0) 100%);
    }
    .bubble_4{
        width: 500px;
        height: 500px;
        position: absolute;
        bottom: 100px;
        right: 500px;
        background-size: contain;
        background: radial-gradient(circle, rgba(226, 60, 60, 0.8) 0%, rgba(226, 60, 60, 0.1) 35%, rgba(226, 60, 60, 0) 75%, rgba(255, 255, 255, 0) 100%);
    }        
}

// sc-1
.sc-1{
    position: relative;
    min-height: 890px;
    overflow: hidden;
    @media screen  and (max-width:1080px){
        padding-bottom: 50px;
    }
    &::before{
        content: '';
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $gr_rose_white;
        opacity: 0.7;
    }
    .container{
        position: relative;
    }
    .cytoforte{
        color: $dark_black;
        opacity: 0.3;
        font-size: 330px;
        font-weight: $fw_bold;
        font-family: $ff_futura;
        text-align: center;
        text-transform: uppercase;
        width: 3000px;
        height: 417px;
        z-index: -1;
        position: absolute;
        top: 250px;
        left: -1600px;
        span{
            margin: 0 150px 0 0;
        }
        @media screen and (max-width:1080px){
            font-size: 170px;
            top: 550px;
        }
    }

    .logo{
        width: 157.52px;
        height: 35px;
        float: left;
        margin: 90px 0 0 0;
        z-index: 1;
        position: relative;
        @media screen and (max-width:1080px) {
            
        }
    }
    .button{
        @media screen and (max-width:1080px) {
            display: none;
        }
        &.__mobile{
            display: none;
            margin: 0 auto;
            @media screen and (max-width:1080px) {
                display: block;
            }
        }
    }
    .content-block{
        padding: 123px 0 250px;
        max-width: 740px;
        overflow: hidden;
        clear: both;
        z-index: 1;
        position: relative;
        @media screen and (max-width:1180px) {
            max-width: 540px;
        }
        @media screen and (max-width:1080px){
            max-width: 480px;
            width: 100%;
            padding-bottom: 50px;
            margin: 0 auto;
            z-index: 9;
        }
    }
        .title{
            margin: 0 0 60px;
            @media screen and (max-width:1080px){
                width: 100%;
                text-align: center;
                margin: 0;
            }
        }
        .subtitle{
            margin: 0 0 60px;
            overflow: hidden;
            @media screen and (max-width:1080px) {
                display: none;
            }
            span{
                font-family: $ff_futura;
                font-weight: $fw_bold;
            }
            .left{
                width: 315px;
                float: left;
                margin: 0 60px 0 0;
                color: $cinnabar;
                font-size: 58px;
                font-weight: $fw_bold;
                line-height: 58px;
            }
            .right{
                float: right;
                width: 360px;
                @media screen and (max-width:1180px){
                    float: left;
                    clear: both;
                    padding: 0 0 0 10px;
                }
            }
        }
        .subtitle__mobile{
            margin: 50px 0 60px;
            overflow: hidden;
            display: none;
            text-align: center;
            @media screen and (max-width:1080px) {
                display: block;
            }
            span{
                font-family: $ff_futura;
                font-weight: $fw_bold;
            }
            .left{
                width: 325px;
                float: none;
                margin: 0 auto;
                color: $cinnabar;
                font-size: 58px;
                font-weight: $fw_bold;
                line-height: 58px;
            }
            .right{
                max-width: 320px;
                margin: 0 auto;
            }
        }
    .product-image{
        position: absolute;
        right: 0;
        top: 200px;
        width: 491px;
        height: 491px;
        border-radius: 100%;
        background: $cinnabar;
        z-index: 2;
        @media screen and (max-width:1080px) {
            width: 280px;
            height: 280px;
            position: relative;
            top: 0;
            right: auto;
            margin: 0 auto;
        }
        &::before{
            content:' ';
            display: block;
            width: 2px;
            height: 230px;
            background: $cinnabar;
            position: absolute;
            left: 50%;
            bottom: 100%;
            z-index: 0;
            @media screen and (max-width:1080px) {
                width: 280px;
                height: 2px;
                top: 50%;
                left: 90%;
            }            
        }
        &::after{
            content: '';
            display: block;
            width: 2px;
            height: 230px;
            background: $cinnabar;
            position: absolute;
            left: 50%;
            top: 100%;
            z-index: 0;
            @media screen and (max-width:1080px) {
                width: 280px;
                height: 2px;
                top: 50%;
                left: -90%;
            }
        }        
        img{
            max-width: 618px;
            height: auto;
            position: absolute;
            top: -15px;
            right: -50px;
            @media screen and (max-width:1080px) {
                max-width: 340px;
                left: -35px;
                top: 0px;
            }
        }
        .leaf{
            width: 890px;
            height: 900px;
            position: absolute;
            top: -225px;
            right: -122px;
            background: url(../images/leaf.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -1;
            @media screen and (max-width:1080px) {
                width: 480px;
                height: 480px;
                top: -120px;
                right: -70px;
            }
        }        
    }
}
.sc-2{
    padding: 157px 0 60px 0;
    overflow: hidden;
    @media screen and (max-width:1080px) {
        padding-top:50px ;
    }
    .image__r-1{
        max-width: 495px;
        height: 600px;
        float: left;
        margin-right: 90px;
        overflow: hidden;
        z-index: 0;
        @media screen and (max-width:1180px) {
            display: none;
        }
        img{
            position: relative;
            right: 208px;
            height: 600px;
            max-width: 898px;
        }
    }
    .image__r-1__mobile{
        display: none;
        max-width: 100%;
        height: 480px;
        z-index: 0;
        text-align: center;
        @media screen and (max-width:1180px) {
            display: block;
        }
        @media screen and (max-width:720px) {
            height: 210px;
            margin: 20px 0 0 0 ;
        }
        img{
            height: 100%;
            width: auto;
        }
    }   
    .text-block__r-1{
        max-width: 690px;
        float: left;
        margin:  186px 0 0 0;
        @media screen and (max-width:1180px) {
            float: none;
            text-align: center;
            margin: 0 auto;
        }
        h2{
            margin: 0 0 15px;
        }
        P{
            max-width: 365px;
            @media screen and (max-width:1180px) {
                margin: 0 auto;
            }
        }
    }
    .quote{
        position: relative;
        top: -90px;
        border-radius: 25px;
        z-index: 1;
        @media screen and (max-width:1180px) {
            max-width: 575px;
        }  
        @media screen and (max-width:720px){
            top: -30px;
        }      
    }
    .image__r-2{
        position: relative;
        top: -180px;
        max-width: 495px;
        height: 600px;
        float: right;
        margin-left: 90px;
        z-index: -1;
        @media screen and (max-width:1180px) {
            display: none;
        }
        img{
            height: 100%;
            width: auto;
        }
    }
    .text-block__r-2{
        max-width: 690px;
        float: left;
        padding:  0 0 0 196px;
        @media screen and (max-width:1280px){
            width: 540px;
            padding: 0 0 0 110px;
        }
        @media screen and (max-width:1180px){
            float: none;
            margin: 0 auto;
            max-width: 530px;
            padding: 0 0 0 110px;
        }
        @media screen and (max-width:720px) {
            padding: 0;
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
        }
        ul{
            list-style: none;
            li{
                position: relative;
                padding: 0 0 60px;
                @media screen and (max-width:720px) {
                    padding-top: 140px;
                }
                &::before{
                    position: absolute;
                    display: block;
                    left: -196px;
                    width: 110px;
                    height: 110px;
                    @media screen and (max-width:1280px) {
                        left: -135px;
                    }
                    @media screen and (max-width:1180px) {
                        left: -140px;
                    }      
                    @media screen and (max-width:720px) {
                        left: 0;
                        top: 0;
                        width: 100%;
                        background-position:  center !important;
                    }              
                }
                &.icon-1{
                    &::before{
                        content: '';
                        background: url(../images/icon_fire.svg);
                        background-repeat: no-repeat;
                        background-position: center left;
                        background-size: contain;
                    }
                }
                &.icon-2{
                    &::before{
                        content: '';
                        background: url(../images/icon_bladder.svg);
                        background-repeat: no-repeat;
                        background-position: center left;
                        background-size: contain;
                    }
                }
                &.icon-3{
                    &::before{
                        content: '';
                        position: absolute;
                        background: url(../images/icon_bacteria.svg);
                        background-repeat: no-repeat;
                        background-position: center left;
                        background-size: contain;
                    }
                }
            }
        }
        h2{
            margin: 0 0 15px;
        }
    }    
}
.sc-3{
    margin: 0 ;
    padding: 90px 0;
    // min-height: 890px;
    overflow: hidden;
    position: relative;
    &::before{
        content: '';
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $gr_rose_white;
        opacity: .9;
    }    
    .container{
        position: relative;
    }
    .cytoforte{
        color: $dark_black;
        opacity: 0.3;
        font-size: 330px;
        font-weight: $fw_bold;
        font-family: $ff_futura;
        text-align: center;
        text-transform: uppercase;
        width: 3000px;
        height: 417px;
        z-index: -1;
        position: absolute;
        top: 250px;
        left: -1600px;
        @media screen and (max-width:580px) {
            font-size: 120px;
        }
        span{
            margin: 0 150px 0 0;
        }
    }    
    .title{
        max-width: 690px;
        margin: 0 auto 60px;
        text-align: center;
    }
    .product-image-container{
        position: relative;
        width: 490px;
        height: 490px;
        float: left;        
        margin: 0 0 0 120px;
        @media screen and (max-width:1180px){
            float: none;
            margin: 0 auto 30px;
        }
        @media screen and (max-width:720px){
            width: 300px;
            height: 300px;
        }
        .product-image{
            position: relative;
            width: 490px;
            height: 490px;
            float: left;
            border-radius: 100%;
            background: $cinnabar;
            z-index: 4;
            @media screen and (max-width:720px){
                width: 280px;
                height: 280px;
                float: none;
                margin: 0 auto;
            }
            img{
                max-width: 618px;
                height: auto;
                position: absolute;
                top: -15px;
                right: -50px;
                @media screen and (max-width:720px) {
                    max-width: 300px;
                    top: 15px;
                    right: -5px;
                }
            }
        }
        .berry{
            width: 857px;
            height: 677px;
            position: absolute;
            top: -200px;
            left: -170px;
            background: url(../images/berry_group.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 3;
            @media screen and (max-width:720px) {
                width: 480px;
                height: 600px;
                left: -90px;
                top: -160px;                
            }
        }
        .leaf_back{
            width: 853px;
            height: 817px;
            position: absolute;
            top: -200px;
            left: -170px;
            background: url(../images/leaf_back.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 2;
            @media screen and (max-width:720px) {
                width: 480px;
                height: 600px;
                left: -90px;
                top: -160px;                
            }            
        }
        .leaf_front{
            width: 703px;
            height: 564px;
            position: absolute;
            top: -50px;
            left: -110px;
            background: url(../images/leaf_front.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 1;
            @media screen and (max-width:720px) {
                width: 400px;
                height: 600px;
                top: -160px;
                left: -60px;
            }            
        }
    }
    .product-price{
        float: right;
        text-align: center;
        @media screen and (max-width:1180px) {
            float: none;
            margin: 0 auto;
        }
        .card{
            position: relative;
            display: inline-block;
            width: 494px;
            border-radius: 15px;
            padding: 90px;
            background: $wild_sand;
            z-index: 0;
            @media screen and (max-width:580px) {
                width: 100%;
                padding: 15px;
            }
            .title{
                h3{
                    font-family: $ff_futura_book;
                    font-size: 32px;
                    font-weight: 100;
                    line-height: 41.6px;
                    span{
                        border-radius: 5px;
                        background: $cinnabar;
                        color: $white;
                        line-height: 0;
                        padding: 2px 20px ;
                    }
                }
            }
            .price{
                margin: 30px 0 0 0;
                .old{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    span{
                        text-decoration: line-through;
                        margin: 0 0 0 20px;
                    }
                }
                .new{
                    font-size: 64px;
                    font-weight: $fw_bold;
                    font-family: $ff_futura;
                    line-height: 81px;
                    color: $dark_black;
                }
            }
            .button{
                margin: 60px auto;
                @media screen and (max-width:580px) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
.sc-4{
    padding: 90px 0;
    overflow: hidden;
    .title{
        text-align: center;
        max-width: 685px;
        margin: 0 auto;
    }
    .subtitle{
        width: 365px;
        margin: 0 auto;
        text-align: center;
    }
    .container-item{
        max-width: 1086px;
        margin: 0 auto;
    }
    .item{
        width: 25%;
        min-height: 401px;
        float: left;
        margin: 45px 45px;
        border-radius: 25px;
        border: dashed 1px #808080;
        @media screen and (max-width:1180px){
            width: 40%;
        }
        @media screen and (max-width:980px) {
            width: 100%;
            max-width: 320px;
            margin: 0 auto 30px;
            float: none;
        }
        @media screen and (max-width:720px) {
            width: 100%;
            max-width: 240px;
            margin: 0 auto 30px;
            float: none;
        }        
        .image{
            width: 205px;
            height: 205px;
            margin: 30px auto 0;
            padding: 10px;
            background: $wild_sand;
            border: 2px solid $cinnabar;
            border-radius: 100%;
            overflow: hidden;
            @media screen and (max-width:720px) {
                width: 150px;
                height: 150px;
            }
            img{
                height: 100%;
                width: auto;
                border-radius: 100%;
            }
        }
        .text{
            padding: 30px 10px;
            text-align: center;
        }
    }
}
.sc-5{
    // background: $rose_white;
    padding: 90px 0;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $gr_rose_white;
        opacity: 0.7;
    }
    .title{
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
    }
    .subtitle{
        max-width: 365px;
        margin: 0 auto;
        text-align: center;
    }
    .table-container{
        position: relative;
        width: 718px;
        height: 605px;
        margin: 90px auto 0;
        padding: 0 0 0 35px;        
        @media screen and (max-width:720px){
            max-width: 320px;
            height: 420px;
        }
        .column-number{
            width: 50px;
            padding: 0 10px 0 0 ;
            float: left;
            @media screen and (max-width:720px) {
                width: 30px;
                font-size: 10px;
            }
            >div{
                height: 25px;
                text-align: right;
                @media screen and (max-width:720px) {
                    height: 20px;
                }
            }
        }
        .table-columns{
            background: $soft-peach;
            border-radius: 25px;
            float: left;
            overflow: hidden;
            >div{
                border-right:1px solid rgba(104,104,104,0.2) ;
                float: left;
                width: 150px;
                overflow: hidden;
                @media screen and (max-width:720px){
                    max-width: 60px;
                }
                >div{
                    height: 25px;
                    border-bottom:1px solid rgba(104,104,104,0.2) ;
                    &:last-child{
                        border: none;
                    }
                    &:nth-child(14){
                        background: rgba(104,104,104,0.2);
                        border: none;
                    }
                    @media screen and (max-width:720px) {
                        height: 20px;
                    }
                }
                &:nth-child(4){
                    border:none;
                }
                div{
                    border-buttom:1px solid $dark_black;
                }
            }
            div[class="1"]{
                div[data="14"]{
                    position: relative;
                    z-index: 0;
                    padding: 0px 60px;
                    top: -5px;
                    @media screen and (max-width:720px){
                        padding: 0px 15px;
                    }             
                    &::before{
                        content: '';
                        width: 22px;
                        height: 22px;
                        margin: 6px;
                        background: $cinnabar;
                        border-radius: 100%;
                        position: absolute;
                        z-index: 1;
                        @media screen and (max-width:720px){
                            margin: 3px 6px;
                        }                            
                    }
                    &::after{
                        content: '';
                        width: 32px;
                        height: 32px;
                        border: 1px solid $cinnabar;
                        border-radius: 100%;
                        position: absolute;
                        z-index: 1;
                        -webkit-animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
                        animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;  
                        @media screen and (max-width:720px){
                            top: -2px;
                        }                      
                    }
                }
            }
            div[class="2"]{
                div[data="10"]{
                    position: relative;
                    z-index: 0;
                    padding: 0px 60px;
                    top: -5px;
                    @media screen and (max-width:720px){
                        padding: 0px 15px;
                    }
                    &::before{
                        content: '';
                        width: 22px;
                        height: 22px;
                        margin: 6px;
                        background: $cinnabar;
                        border-radius: 100%;
                        position: absolute;
                        z-index: 1;
                        @media screen and (max-width:720px){
                            margin: 3px 6px;
                        } 
                    }
                }
            }
            div[class="3"]{
                div[data="7"]{
                    position: relative;
                    z-index: 0;
                    padding: 0px 60px;
                    top: -5px;
                    @media screen and (max-width:720px){
                        padding: 0px 15px;
                    }
                    &::before{
                        content: '';
                        width: 22px;
                        height: 22px;
                        margin: 6px;
                        background: $cinnabar;
                        border-radius: 100%;
                        position: absolute;
                        z-index: 1;
                        @media screen and (max-width:720px){
                            margin: 3px 6px;
                        }                        
                    }
                }
            }
            div[class="4"]{
                div[data="3"]{
                    position: relative;
                    z-index: 0;
                    padding: 0px 60px;
                    top: -5px;
                    @media screen and (max-width:720px){
                        padding: 0px 15px;
                    }
                    &::before{
                        content: '';
                        width: 22px;
                        height: 22px;
                        margin: 6px;
                        background: $cinnabar;
                        border-radius: 100%;
                        position: absolute;
                        z-index: 1;
                        @media screen and (max-width:720px){
                            margin: 3px 6px;
                        }                        
                    }
                }
            }
        }
        .type{
            float: left;
            margin: 10px 0 0 50px;
            @media screen and (max-width:720px){
                margin-left: 30px;
            }
            >div{
                font-size: 16px;
                width: 150px;
                float: left;
                text-align: center;
                @media screen and (max-width:720px) {
                    width: 60px;
                    font-size: 9px;
                }
            }
        }
        .label-1,
        .label-2{
            font-size: 18px;
            font-weight: $fw_bold;
            line-height: 24px;
            width: 340px;
            padding: 0 0 0 90px;
            position: absolute;
            @media screen and (max-width:720px) {
                font-size: 9px;
                width: 220px;
            }            
        }
        .label-1{
            transform: rotate(-90deg);
            left: -135px;
            bottom: 250px;
            border-bottom: 1px solid rgba(104, 104, 104, 0.2);
            @media screen and (max-width:720px) {
                left: -85px;
                bottom: 105px;
            }
        }
        .label-2{
            bottom: 110px;
            left: 0;
            border-top: 1px solid rgba(104, 104, 104, 0.2);
            @media screen and (max-width:720px) {
                left: 0px;
                bottom: 19px;
            }            
        }
    }// table-container
    .text{
        width: 420px;
        margin: 0 auto;
        text-align: center;
        @media screen and (max-width:720px) {
            max-width: 320px;
        }
        p{
            margin: 0 0 0 0;
        }
    }
}

.sc-6{
    padding: 90px 0;
    overflow: hidden;
    .product-image{
        width: 605px;
        height: 665px;
        position: relative;
        float: left;
        @media screen and (max-width:1180px) {
            float:none;
            margin: 0 auto;
        }
        @media screen and (max-width:720px) {
            max-width: 320px;
            max-height: 320px;
            float: none;
            margin: 0 auto;
        }
        .vitamine{
            width: 596px;
            height: 537px;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            @media screen and (max-width:720px) {
                max-width: 320px;
                max-height: 320px;
            }
        }// end vitamine
        .product-img{
            width: 594px;
            height: 517px;
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            @media screen and (max-width:720px) {
                max-width: 320px;
                max-height: 240px;
            }            
        }

    }// end .product-image
    .text-block{
        float: right;
        width: 495px;
        @media screen and (max-width:1180px) {
            float: none;
            margin: 0 auto;
        }
        @media screen and (max-width:720px) {
            float: none;
            width: 320px;
            margin: 0 auto;
        }
        .title{
            @media screen and (max-width:720px) {
                display: none;
            }
            h2{
                margin: 0 0 60px 0;
            }
        }
        ul{
            list-style: none;
            margin: 60px 0 0 -30px;
        }
    }//end text-block
    .title__mobile{
        width: 320px;
        display: none;
        margin: 0 auto;
        text-align: center;
        @media screen and (max-width:720px) {
            display: block;
        }
        h2{
            margin: 0 0 30px 0;
        }
    }//end text-block    
}//end sc-6
.sc-7{
    margin: 0 ;
    padding: 90px 0;
    overflow: hidden;
    position: relative;
    clear: both;
    &::before{
        content: '';
        z-index: 0;
        width: 100%;
        height: 830px;
        position: absolute;
        top: 0;
        left: 0;
        background: $gr_rose_white;
        opacity: .9;
    }
    .doc-info-block{
        width: 495px;
        float: left;
        position: absolute;
        left: 180px;
        top: 90px;
        z-index: 0;
        @media screen and (max-width:1280px) {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            float: none;
        }
        .doc-image{
            width: 495px;
            height: 420px;
            @media screen and (max-width:1280px) {
                width: 280px;
                height: 271px;
                margin: 0 auto;
            }
        }
        .doc-name{
            width: 315px;
            max-width: 320px;
            margin: 30px 0 0 ;
            @media screen {
                width: 100%;
                margin: 30px auto 0;
            }
            p{
                font-size: 28px;
                font-weight: $fw_bold;
                line-height: 33.6px;
            }
        }
        .doc-info{
            width: 315px;
            @media screen and (max-width:1280px) {
                width: 100%;
                max-width: 320px;
                margin: 30px auto 0;
            }
        }
    }
    .text-block{
        float: right;
        width: 690px;
        padding: 90px;
        background: #ffffff;
        position: relative;
        z-index: 1;
        box-shadow: 2px 2px 15px rgba(100,100,100,0.5);
        @media screen and (max-width:1280px) {
            max-width: 480px;
            width: 100%;
            padding: 30px 30px 90px;
            margin: 0 auto;
            float: none;
        }
        h2{
            margin: 0 0 60px 0;
        }
        .recomend-text{
            max-width: 305px;
            position: relative;
            margin: 60px 0 0 0 ;
            p{
                font-weight: $fw_bold;
            }
            .signature{
                position: absolute;
                width: 168px;
                height: 95.99px;
                background: url(../images/signature.png);
                background-repeat:no-repeat ;
                background-position: center;
                background-size: contain;
                left: 310px;
                top: 0px;
                @media screen and (max-width:1280px) {
                    left: 0;
                    top: 30px;
                }
            }
        }
    }
}
.sc-8{
    padding: 90px 0 ;
    overflow: hidden;
    .title{
        width: 430px;
        left: 550px;
        top: 50px;
        position: absolute;
        z-index: 1;
    }
    .slider{
        position: relative;
        z-index: 2;
        max-width: 1080px;
        margin: 0 auto;
        overflow: hidden;
        .uk-slideshow-items{
            overflow: visible;
        }
        .slider-item{
            overflow: visible;
            // min-height: 850px !important;
            .avatar{
                width: 340px;
                height: 350px;
                overflow: hidden;
                float: left;
                img{
                    width: auto;
                    height: 100%;
                }
            }
            .user-card{
                position: relative;
                width: 820px;
                padding: 90px;
                left: -30px;
                top: -135px;
                background: #F8F1F1;
                border-radius: 25px;
                float: right;
                box-shadow: 2px 2px 15px rgba(100,100,100,0.5);
                .star-rate{
                    span{
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        background: url(../images/star.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin: 0 5px 0 0;
                    }
                }
            }
        }
        .slider-navigate_layout{
            text-align: center;
            padding: 90px 0 0 0;
            a.slider-next{
                width: 120px;
                height: 40px;
                display: inline-block;
                background: url('../images/next.svg');
                background-position: center right;
                background-size: contain;
                background-repeat: no-repeat;
                transition: ease-in-out .2s;
                &:active{
                    transform: matrix(1, 0, 0, 1, 30, 0);
                }
            }
            .slider-navigate{
                display: inline-block;
                li{
                    list-style: none;
                    float: left;
                    margin: 0 10px 0 0;
                    width: 40px;
                    height: 40px;
                    a{
                        width: 10px;
                        height: 10px;
                        display: block;
                        background: $dark_black;
                        border-radius: 100%;
                        position: absolute;
                        margin: 15px;
                    }
                    &.uk-active{
                        a{
                            &::before{
                                position: absolute;
                                content: '';
                                display: block;
                                width: 38px;
                                height: 38px;
                                border: solid 1px $cinnabar;
                                border-radius: 100%;
                                top: -15px;
                                left: -15px;
                                -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                            }
                            @-webkit-keyframes scale-in-center {
                                0% {
                                -webkit-transform: scale(0);
                                        transform: scale(0);
                                opacity: 1;
                                }
                                100% {
                                -webkit-transform: scale(1);
                                        transform: scale(1);
                                opacity: 1;
                                }
                            }
                            @keyframes scale-in-center {
                                0% {
                                -webkit-transform: scale(0);
                                        transform: scale(0);
                                opacity: 1;
                                }
                                100% {
                                -webkit-transform: scale(1);
                                        transform: scale(1);
                                opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.sc-9{
    padding: 90px 0 ;
    .title{
        text-align: center;
        margin: 0 auto 90px;
    }
    .row{
        text-align: center;
    }
    .item{
        width: 300px;
        margin: 0 45px 0;
        padding: 30px 0 0 0 ;
        border: dashed 1px #c3c3c3;
        display: inline-block;
        border-radius: 25px;
        @media screen and (max-width:1180px) {
            display: block;
            max-width: 240px;
            margin: 0 auto 30px; 
        }
        .image{
            width: 240px;
            height: 240px;
            margin: 0 auto;
            border-radius: 150%;
            overflow: hidden;
            @media screen and (max-width:1180px) {
                width: 150px;
                height: 150px;
            }
            img{
                width: 100%;
                height: auto;
            }
        }
        .text{
            text-align: center;
            padding: 60px 45px 30px ;
            p{
                font-size: 18px;
                font-weight: $fw_bold;
                line-height: 21.6px;
            }
        }
    }

}
.sc-10{
    margin: 0 ;
    padding: 90px 0;
    overflow: hidden;
    position: relative;
    clear: both;
    &::before{
        content: '';
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $gr_rose_white;
        opacity: .9;
    }
    .cytoforte{
        color: $dark_black;
        opacity: 0.3;
        font-size: 330px;
        font-weight: $fw_bold;
        font-family: $ff_futura;
        text-align: center;
        text-transform: uppercase;
        width: 3000px;
        height: 417px;
        z-index: -1;
        position: absolute;
        top: 250px;
        left: -1600px;
        @media screen and (max-width:720px) {
            font-size: 170px;
        }
        span{
            margin: 0 150px 0 0;
        }
    }
    .title{
        text-align: center;
        margin: 0 0 90px 0;
    }
    .product-image-container{
        position: relative;
        width: 490px;
        height: 490px;
        float: left;        
        margin: 60px 0 0 120px;
        @media screen and (max-width:1180px) {
            float: none;
            margin: 0 auto 30px;
        }
        @media screen and (max-width:720px) {
            width: 290px;
            height: 290px;
            margin: 60px auto 120px;
        }
        .product-image{
            position: relative;
            width: 490px;
            height: 490px;
            float: left;
            border-radius: 100%;
            background: $cinnabar;
            z-index: 4;
            @media screen and (max-width:720px) {
                width: 290px;
                height: 290px;
            }      
            img{
                max-width: 548px;
                height: auto;
                position: absolute;
                top: -135px;
                right: 0px;
                @media screen and (max-width:720px) {
                    max-width: 348px;
                    top: -108px;
                    right: -8px;
                }
            }
        }
        .berry{
            width: 857px;
            height: 677px;
            position: absolute;
            top: -200px;
            left: -170px;
            background: url(../images/berry_group.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 3;
        }
        .leaf_back{
            width: 853px;
            height: 817px;
            position: absolute;
            top: -200px;
            left: -170px;
            background: url(../images/leaf_back.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 2;
        }
        .leaf_front{
            width: 703px;
            height: 564px;
            position: absolute;
            top: -50px;
            left: -110px;
            background: url(../images/leaf_front.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 1;
        }
    }  
    .card{
        position: relative;
        display: inline-block;
        width: 494px;
        float: right;
        border-radius: 15px;
        padding: 90px;
        background: $wild_sand;
        z-index: 9;
        @media screen and (max-width:1180px) {
            margin: 0 auto;
            float: none;
            display: block;
        }
        .form-title{
            text-align: center;
            h3{
                font-family: $ff_futura_book;
                font-size: 32px;
                font-weight: 100;
                line-height: 41.6px;
                span{
                    border-radius: 5px;
                    background: $cinnabar;
                    color: $white;
                    line-height: 0;
                    padding: 2px 20px ;
                }
            }
        }
        .price{
            margin: 30px 0 0 0;
            .old{
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                span{
                    text-decoration: line-through;
                    margin: 0 0 0 20px;
                }
            }
            .new{
                font-size: 64px;
                font-family: $ff_futura;
                font-weight: $fw_bold;
                line-height: 81px;
                color: $dark_black;
            }
        }
        .form-field{
            input,
            select{
                background: $white;
                text-align: center;
                text-align-last: center;
                padding: 15px 15px;
                margin: 10px 0;
                width: 100%;
                border-radius: 25px;
                border: none;
            }
            option{
                text-align: center;
                text-align-last: center;
            }
        }
        .button{
            margin: 60px auto 0;
        }
    }
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  